body {
    background-color: rgb(45, 45, 219);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.object1{
    display:flex;
    justify-content: center;
}
.raton {
    padding: 0%;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
